.page-footer {
  padding: 8px 20px 5px 20px;
  font-size: 13px;
  height: $page-footer-height;
  position: fixed;
  left: $sidebar-width;
  right: 0;
  bottom: 0;

  .page-footer-copyright {
    border-top: 1px solid #ff0000;
    padding: 20px;
  }
}