.page-footer {
  left: $sidebar-width;
  right: 0;
  bottom: 0;
  height: $page-footer-height;
  position: fixed;
  font-size: $page-footer-font-size;
  padding-left: 20px;
  padding-right: 20px;

  .page-footer-copyright {
    padding: 10px 0;
  }
}