.page-container {
  margin: 0;
  padding: 0;
  position: relative;

  // @include clearfix();

  // .page-header-fixed & {
  //   margin-top: $header-height;
  // }
}

/* Page content */
.page-content {
  margin-top: 0;
  padding: 0;
  background-color: #FFFFFF;
}
.page-content-title {
  padding: 0;
  font-size: 28px;
  letter-spacing: -1px;
  display: block;
  color: #666;
  margin: 0 0 15px 0;
  font-weight: 300;

  /* subtitle */
  small {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 300;
    color: #888;
  }
}

@media (min-width: 992px) {
  .page-content-wrapper {
    float: left;
    width: 100%;

    .page-content {
      margin-left: $sidebar-width;
      margin-top: 0;
      min-height: $page-content-min-height;
      padding: 25px 20px 10px 20px;
    }
  }
}
