/* Main Sidebar */
.page-sidebar,
.page-sidebar:hover {

  &.navbar-collapse {
    padding: 0;
    box-shadow: none;
  }

  .sidebar-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      border: 0;
      margin: 0;
      padding: 0;
      display: block;

      > a {
        display: block;
        position: relative;
        margin: 0;
        border: 0;
        padding: 10px 15px;
        text-decoration: none;
        font-size: $sidebar-menu-link-font-size;
        font-weight: 300;

        > i {
          font-size: $sidebar-menu-link-icon-font-size;
          margin-right: 5px;
          text-shadow: none;
        }

        > i.glyphicon {
          margin-left: 1px;
          margin-right: 4px;
        }

        > [class^="icon-"] {
          margin-left: 1px;
          margin-right: 4px;
        }
      }

      &.heading {
        padding: 15px;

        > h3 {
          margin: 0;
          padding: 0;
          font-size: 14px;
          font-weight: 300;
        }
      }

      &.heading + li > a {
      }
    }

    li {
      > a {
        display: block;
        position: relative;
        margin: 0;
        border: 0;
        padding: 10px 15px;
        text-decoration: none;
        font-size: $sidebar-menu-link-font-size;
        font-weight: 300;

        > [class="^icon-"] {
          margin-left: 1px;
          margin-right: 4px;
        }
      }
    }

    .sidebar-sub-menu {
      padding: 0;
      // display: none;
      list-style: none;
      margin: 8px 0 8px 0;

      &:after {
        border-left: 1px solid darkorange;
        bottom: 0;
        // content: "";
        left: 27px;
        position: absolute;
        top: 41px; // Height of parent menu
      }


      li {
        margin: 0;
        padding: 0;
        background: none;
        margin-top: 1px !important;

        &:before {
          background: darkorange;
          bottom: auto;
          // content: "";
          height: 8px;
          left: 23px;
          margin-top: 10px;
          position: absolute;
          right: auto;
          width: 8px;
          z-index: 1;
          border-radius: 50%;
        }

        > a {
          margin: 0;
          display: block;
          background: none;
          font-weight: 300;
          text-decoration: none;
          padding: 6px 15px 6px 43px;
          font-size: $sidebar-menu-link-font-size;

          > i {
            font-size: $sidebar-menu-sub-menu-link-icon-font-size;
          }
        }

        > .sidebar-sub-menu {
          margin: 0;
          > li {
            > a {
              padding-left: 60px;
            }
            > .sidebar-sub-menu {
              margin: 0;
              > li {
                > a {
                  padding-left: 80px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .page-sidebar {
    float: left;
    position: relative;
    margin-right: -100%;
    width: $sidebar-width;

    &.collapse {
      display: block;
      max-height: none !important;
    }
  }

  .page-sidebar-closed {
    .page-sidebar {
      width: $sidebar-width-collapsed !important;

      .sidebar-menu.page-sidebar-menu-closed {
        width: $sidebar-width-collapsed !important;

        > li {
          &.open > .sidebar-sub-menu,
          > .sidebar-sub-menu {
            display: none !important;
          }

          > a {
            padding-left: 11px;

            .selected {
              right: -3px !important;
            }

            > .title,
            > .arrow {
              display: none !important;
            }
          }

          &.heading {
            > h3 {
              display: none;
            }
          }

          &:hover {
            width: ($sidebar-collapsed-submenu-width-on-hover + $sidebar-width-collapsed + 1px) !important;
            position: relative !important;
            z-index: $zindex-sidebar-fixed;
            display: block !important;

            > a {
              > i {
                margin-right: 10px;
              }

              > .title {
                display: inline !important;
                padding-left: 15px;
              }

              > .selected {
                display: none;
              }
            }

            &.heading {
              widows: $sidebar-width-collapsed !important;
              box-shadow: none;
            }

            > .sidebar-sub-menu {
              width: $sidebar-collapsed-submenu-width-on-hover;
              position: absolute;
              left: ($sidebar-width-collapsed + 1px);
              margin-top: 0;
              top: 100%;
              z-index: $zindex-sidebar-submenu;
              display: block !important;

              > li {
                > a {
                  padding-left: 15px !important;
                }

                > .sidebar-sub-menu {
                  > li {
                    > a {
                      padding-left: 30px !important;
                    }

                    > .sidebar-sub-menu {
                      > li {
                        > a {
                          padding-left: 45px !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.page-sidebar-hide {
      .page-sidebar {
        display: none !important;
      }
    }
  }
}