/* Main Sidebar */
.page-sidebar, .page-sidebar:hover {
  &.navbar-collapse {
    padding: 0;
    box-shadow: none;
  }

  .sidebar-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      border: 0;
      margin: 0;
      padding: 0;
      display: block;

      > a {
        display: block;
        position: relative;
        margin: 0;
        border: 0;
        padding: 10px 15px;
        text-decoration: none;
        font-size: $sidebar-menu-link-font-size;
        font-weight: 300;
      }

      &.heading {
        padding: 15px;

        > h3 {
          margin: 0;
          padding: 0;
          font-size: 14px;
          font-weight: 300;
        }
      }

      &.heading + li > a {
      }
    }

    li {
      > a {
        display: block;
        position: relative;
        margin: 0;
        border: 0;
        padding: 10px 15px;
        text-decoration: none;
        font-size: $sidebar-menu-link-font-size;
        font-weight: 300;

        >[class="^icon-"] {
          margin-left: 1px;
          margin-right: 4px;
        }
      }
    }

    .sidebar-sub-menu {
      padding: 0;
      // display: none;
      list-style: none;
      margin: 8px 0 8px 0;

      li {
        margin: 0;
        padding: 0;
        background: none;
        margin-top: 1px !important;

        > a {
          margin: 0;
          display: block;
          background: none;
          font-weight: 300;
          text-decoration: none;
          padding: 6px 15px 6px 43px;
          font-size: $sidebar-menu-link-font-size;

          > i {
            font-size: $sidebar-menu-sub-menu-link-icon-font-size;
          }
        }

        > .sidebar-sub-menu {
          margin: 0;
          > li {
            > a {
              padding-left: 60px;
            }
            > .sidebar-sub-menu {
              margin: 0;
              > li {
                > a {
                  padding-left: 80px;
                }
              }
            }
          }
        }
      }
    }
  }


}

@media (min-width: 992px) {
  .page-sidebar {
    float: left;
    position: relative;
    margin-right: -100%;
    width: $sidebar-width;

    &.collapse {
      display: block;
      max-height: none !important;
    }
  }
}