.idea/

build/

vendor/

storage/

bootstrap/cache/services.json

/database/seeds/
/database/migrations/
!/database/seeds/DatabaseSeeder.php

node_modules/

config/email.php

!.htaccess

.env
.DS_Store
.gitattributes

Thumbs.db

*.sublime-workspace
*.lock
*.phar
*.log
*.iml
*.un~

.sass-cache/
