$header-height: 46px !default;

/* Page content */
$page-content-min-height: 600px !default;


/* Sidebar variables */
$sidebar-width: 235px !default;
$sidebar-menu-link-font-size: 14px !default;
$sidebar-logo-container-width: $sidebar-width !default;
$sidebar-logo-height: 56px !default;
$sidebar-menu-sub-menu-link-icon-font-size: 14px !default;
$sidebar-logo-container-width: 10px !default;
$sidebar-toggler-font-size: 22px !default;
$sidebar-collapsed-width: 50px !default;
$header-top-menu-user-item-padding: 14px 6px 12px 8px !default;
$header-top-menu-user-font-size: 13px !default;
$header-top-menu-user-font-weight: 300 !default;
$sidebar-menu-link-icon-font-size: 16px !default;