$header-height: 46px !default;

/* Page content */
$page-content-min-height: 600px !default;


/* Sidebar variables */
$sidebar-width: 235px !default;
$sidebar-menu-link-font-size: 14px !default;
$sidebar-menu-sub-menu-link-icon-font-size: 14px !default;
