$component-colors: (
  white:        (base:#ffffff, font: #666),
  default:      (base:#e1e5ec, font: #666),
  dark:	        (base:#2f353b, font: #FFFFFF),
  blue:         (base:#3598dc, font: #FFFFFF),
  green:        (base:#32c5d2, font: #FFFFFF),
  red:          (base:#e7505a, font: #ffffff),
  yellow:       (base:#c49f47, font: #ffffff),
  yellow-gold:	(base:#E87E04, font: #ffffff),
);
