$component-colors: (
  white:        (base: #FFFFFF, font: #666666),
  default:      (base: #E1E5EC, font: #666666),
  dark:	        (base: #2F353B, font: #FFFFFF),
  blue:         (base: #3598DC, font: #FFFFFF),
  green:        (base: #32C5D2, font: #FFFFFF),
  red:          (base: #E7505A, font: #FFFFFF),
  yellow:       (base: #C49F47, font: #FFFFFF),
  yellow-gold:	(base: #e87e04, font: #FFFFFF),
  orange:       (base: #F6A821, font: #FFFFFF),
);
