@import 'colors';


// Fonts
$font-family-primary: "Open Sans", sans-serif !default;
$font-family-nav: Roboto, sans-serif !default;
$font-family-default: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$text-color: #333333 !default;

$link-color: #5b9bd1 !default;
$general-border-radius: 2px !default;

@import '_bootstrap-override';
